button {
  margin: 10px;
  width: 231px;
  height: 47px;
  left: 472px;
  top: 144px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  color: white;
  font-weight: bold;
  text-align: center;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
}
