.Speech{
  margin: 10px;

  Button.start {
    background: #00A55D;
  }

  Button.start:disabled {
    background: rgba(0, 165, 93, 0.54);
  }

  Button.stop {
    background: #8B0C42;
  }

  Button.stop:disabled {
    background: rgba(139, 12, 66, 0.54);
  }
}
